h1 {
    text-align: center;
}

.current-filters {
    text-align: center;
}

.current-filter-buttons {
    font-size: 20px;
    margin: 3px;
    padding: 2px;
    cursor: pointer;
}

.current-wrap {
    text-align: center;
    border-right: 1px solid white;
    font-size: 30px;
    font-weight: bold;
}

.current-click {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-decoration: underline;
}

.current-click:hover {
    background: white;
    color: black;
}

.current-list {
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 0.4fr 0.4fr 0.4fr;
    font-size: 25px;
    border: 1px solid white;
    border-top: none;
}

.current-title {
    border-right: 1px solid white;
}

.current-results {
    text-align: center;
    border-right: 1px solid white;
}